# Node
node_modules/

# npm
*npm-debug.log

# env
*.env.js

# ignore public builds
public/*
!public/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# osx
.DS_Store

# ignore tests for now
/test

# apps!
frontend-apps/*
!frontend-apps/.gitkeep
