# Node
node_modules/

# npm
*npm-debug.log

# env
*.env.js

# ignore public b  uilds
public/*
!public/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# osx
.DS_Store

# ignore tests for now
/test

static/*
!static/.gitkeep
